<mat-toolbar>
  <span>TrelloNG</span>
</mat-toolbar>
<div class="canvas" id="canvas">
  <div class="board" id="board">
      <div>
        <div *ngFor="let col of cols;let kk = index" class="list-wrapper">
            <h3 *ngIf="!editListBool || editColId !=  col.id">
              <strong>{{col.title}}</strong>
              <button class="btn" style="float:right;margin-right:1rem;" (click)="deleteCol(col.id)">
                  Delete</button>
              <button class="btn" style="float:right;" (click)="editCol(col.id)">
                  Edit</button>
            </h3>
            <h3 *ngIf="editListBool && editColId ==  col.id">
              <input type="text" [(ngModel)]="editedTitle">
              <button class="btn" style="float:right;margin-right:1rem;" (click)="editListBool = !editListBool">
                  Cancel</button>
              <button class="btn" style="float:right;" (click)="updateCol(col.id)">
                  Update</button>
            </h3>
              <div class="list-cards"
              cdkDropList
              id="{{col.id}}"
              [cdkDropListData]="cols[kk].cards"
              [cdkDropListConnectedTo]="colList"
              (cdkDropListDropped)="drop($event)">
                  <div id="col.id" *ngFor="let c of cols[kk].cards" style="margin: 5px;" cdkDrag>
                      <div class="card" id="c.id" *ngIf="c.columnId == col.id">
                          <mat-expansion-panel [disabled]="editCardBool && editCardId ==  c.id">
                            <mat-expansion-panel-header>
                              <mat-panel-title *ngIf="!editCardBool || editCardId !=  c.id">
                                {{c.title}}
                              </mat-panel-title>
                              <mat-panel-title *ngIf="editCardBool && editCardId ==  c.id">
                                <label for="editedCardTitle" style="display: grid;">Title
                                  <input type="text" [(ngModel)]="editedCardTitle">
                                </label>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="!editCardBool || editCardId !=  c.id">
                                <p style="white-space: normal;">{{c.description}}</p>
                                <button class="btn" (click)="deleteCard(cols[kk].id, c.id)">
                                  Delete
                                </button>
                                <button class="btn" (click)="editCard(cols[kk].id, c.id)">
                                  Edit
                                </button>
                            </div>
                            <div *ngIf="editCardBool && editCardId ==  c.id">
                                <label for="editCardDesc">Description</label><br>
                                <textarea name="editCardDesc" [(ngModel)]="editedCardDesc" mat-autosize cols="30"></textarea>
                                <br>
                                <button class="btn" (click)="editCardBool = !editCardBool">
                                  Cancel
                                </button>
                                <button class="btn" (click)="updateCard(c.columnId)">
                                  Update
                                </button>
                            </div>

                          </mat-expansion-panel>
                      </div>
                  </div>
                  <br>
                  <form class="card-form" *ngIf="newCardBool && colId == col.id" (submit)="addCard(cardForm)" #cardForm="ngForm">
                    <mat-form-field class="card-full-width">
                      <input matInput placeholder="Title" required name="title" ngModel>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="card-full-width">
                      <textarea matInput mat-autosize placeholder="Description" name="desc" ngModel></textarea>
                    </mat-form-field>
                    <br>
                    <button mat-button [disabled]="cardForm.invalid" class="formbtn">Submit</button>
                  </form>
              </div>
              <h3 style="cursor:pointer;" (click)="openForm(col.id)">
                <strong *ngIf="!newCardBool || colId != col.id">+ Add another card</strong>
                <strong *ngIf="newCardBool && colId == col.id">x Close</strong>
              </h3>
        </div>
        <div class="list-wrapper" style="cursor:pointer;">
            <h3 (click)="this.newListBool = !this.newListBool" id="addList">
              <strong *ngIf="!newListBool">Add another list</strong>
              <strong *ngIf="newListBool">Close</strong>
              <a *ngIf="!newListBool" type="button" style="float:right;padding-right:10px;">+</a>
              <a *ngIf="newListBool" type="button" style="float:right;padding-right:10px;">x</a>
            </h3>
            <div id="togggleList" *ngIf="newListBool">
              <mat-form-field>
                <input id="newCol" type="text" placeholder="List name" matInput [(ngModel)]="newListTitle" (keyup)="onKey($event)">
              </mat-form-field>
              <br>
              <button class="formbtn" (click)="newCol();" id="addNewListBtn" [disabled]="newListTitle == ''">Add List</button>
            </div>
        </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
